<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matlibs Form</title>
</head>
<body>
    <h1>Madlibs</h1>
    <form action="/story">
        <div>
            <label for="place">Place: </label>
            <input type="text" id="place" name="place" placeholder="Enter place">
        </div>
        <br>
        <div>
            <label for="noun">Noun: </label>
            <input type="text" id="noun" name="noun" placeholder="Enter noun">
        </div>
        <br>
        <div>
            <label for="verb">Verb: </label>
            <input type="text" id="verb" name="verb" placeholder="Enter verb">
        </div>
        <br>
        <div>
            <label for="adjective">Adjective: </label>
            <input type="text" id="adjective" name="adjective" placeholder="Enter adjective">
        </div>
        <br>
        <div>
            <label for="plural_noun">Plural Noun: </label>
            <input type="text" id="plural_noun" name="plural_noun" placeholder="Enter plural noun">
        </div>
        <button>Submit</button>
    </form>
</body>
</html>